name: iOS-ipa-build

on:
  workflow_dispatch:

jobs:
  build-ios:
    runs-on: macos-latest

    steps:
      - uses: actions/checkout@v3

      - uses: subosito/flutter-action@v2
        with:
          channel: stable
          architecture: x64

      - run: flutter pub get

      - run: pod repo update
        working-directory: ios

      - run: flutter build ios --release --no-codesign

      - run: mkdir Payload
        working-directory: build/ios/iphoneos

      - run: mv Runner.app Payload
        working-directory: build/ios/iphoneos

      - name: Create IPA
        run: zip -r FlutterIpaExport.ipa Payload
        working-directory: build/ios/iphoneos

      - name: Release IPA
        uses: softprops/action-gh-release@v1
        with:
          tag_name: v1.0
          name: v1.0
          body: "This is first release"
          files: build/ios/iphoneos/FlutterIpaExport.ipa
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
